.container{
    position: relative;
}

.name {
    height: 60px;
    width: calc(var(--container-size) - 0.7px);
    background-color: var(--main-bg-color);
    z-index: 10;
    position: fixed;
    top: 0;
    border-right: 1px solid rgb(197, 197, 197);
    border-bottom: 1px solid rgb(197, 197, 197);

    &-content{
        height: 60px;
        display: flex;
        align-items: center;
    }
    
    &-pfp {
        padding: 0 6px;
        border-radius: 100%;
    }
}

.chatbox {
    position: absolute;
    width: 100%;
    margin-top: 60px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.msg {
    border-radius: 32px;
    width: fit-content;
    padding: 10px;
    margin: 2px 4px;
    color: white;

    &-left {
        background-color: rgb(192, 191, 191);
        right: 0px;
    }

    &-right {
        background-color: var(--main-accent);
        justify-content: end;
    }
}

.messagebox {
    height: 45px;
    width: 607px;
    background-color: white;
    z-index: 10;
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgb(197, 197, 197);
    border-right: 1px solid rgb(197, 197, 197);
    
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    
    &-input{
        height: 30px;
        width: 100%;
        padding: 10px;
        margin: 0 10px;
        border: none;

        &:focus-visible{
            border: none;
            outline: none;
        }
    }

    &-send {
        cursor: pointer;
    }
}

.icon{
    width: 40px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;

    &:hover{
        background-color: rgb(230, 230, 230);
        transition: all ease-in-out 0.1s;
    }
}
