.header-con {
    font-size: 20px;
    display: flex;
    font-weight: bold;
    height: 60px;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    align-items: center;
}
.config-item {
    padding: 10px;
}