.aside-right {
	// background-color: red;
	display: flex;
	width: calc((100% - var(--container-size))/2);
	position: fixed;
	min-height: 100%;
    right: 0;
    top: 0;

    &__header {
        position: sticky;
		top: 0;
		height: var(--header-height);
		display: flex;
		justify-content: right;
		align-items: center;

        &:hover {
            cursor: pointer;
        }
    }
    
    &__content {
		width: 288px;
        // background-color: red;
    }


    &__profile {
        display: flex;
        // background-color: rgb(45, 180, 180);
        // width: calc((100% - var(--container-size))/2);
        align-items: center;
        justify-content: right;
        padding-right: 30px;
        

        &-photo {
            margin: 10px 10px;
            width: 40px;
            border-radius: 50%;
        }
    }

    &__categories {
        // right: 0;
        position: relative;
        &-title {
            font-size: 1.1rem;
            font-weight: bold;
            padding-left: 15px;
            padding-bottom: 6px;
        }

        &-more {
            font-size: 0.9rem;            
            color: var(--main-accent);
            border: none;
            left: 110px;
            background-color: var(--background-color);
            position: absolute;
            // right: 120px;
            &:hover {
                cursor: pointer;

            }
        }
    }
}