.aside-right {
	display: flex;
	width: calc((100% - var(--container-size))/2);
	position: fixed;
	min-height: 100%;
    right: 0;
    top: 0;

    &__header {
        position: sticky;
		top: 0;
		height: var(--header-height);
		display: flex;
		justify-content: right;
		align-items: center;
        margin-bottom: 16px;
    }

    &__search-bar {
        display: flex;
        width: 100%;
        background-color: rgb(243, 243, 243);
        border-radius: 20px;
        padding: 12px;
        margin: 0 8px;
    }

    &__search-icon {
        margin-right: 10px;
        width: 20px;
        opacity: 0.6;
    }

    &__search-input {
        width: 100%;
        border: none;
        background-color: rgb(243, 243, 243);
        &:focus {
            outline: none;
        }
    }
    
    &__content {
		width: 288px;
    }

    &__categories {
        &-item {
            display: flex;
            align-items: center;
            padding: 8px 16px;
            margin: 8px 0;
            border-radius: 20px;
            border: 0;

            &:hover {
                cursor: pointer;

                & .aside-right__categories-icon {
                    transform: rotate(15deg);
                }
            }
        }

        &-icon {
            transition: transform 0.3s;
        }

        &-title {
            font-size: 1.1rem;
            font-weight: bold;
            margin-left: 16px;
            margin-bottom: 8px;
        }

        &-more {
            font-size: 0.9rem;            
            color: var(--main-accent);
            border: none;
            margin-top: 8px;
            margin-left: 16px;
            background-color: var(--background-color);
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}